Taller_De_Produccion/web/WEB-INF/wsdl/localhost_8084/WEBSERRVICEENVIARCORREO/WSENVIARCORREP.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://CORREO.ENIAR.WS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://CORREO.ENIAR.WS/">

<xs:element name="IMPRIMIRFECHAHORA" type="tns:IMPRIMIRFECHAHORA" />

<xs:element name="IMPRIMIRFECHAHORAResponse" type="tns:IMPRIMIRFECHAHORAResponse" />

<xs:element name="enviarcorreodeconfirmacion" type="tns:enviarcorreodeconfirmacion" />

<xs:complexType name="enviarcorreodeconfirmacion">
<xs:sequence>
<xs:element name="correodestino" type="xs:string" minOccurs="0" />
<xs:element name="mensaje" type="xs:string" minOccurs="0" />
<xs:element name="asunto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="IMPRIMIRFECHAHORA">
<xs:sequence />
</xs:complexType>

<xs:complexType name="IMPRIMIRFECHAHORAResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>