Taller_De_Produccion/src/conf/xml-resources/web-service-references/WSUsuario/wsdl/localhost_8084/WS_Usuario/WSUsuario.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.usuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.usuario/">

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0" />
<xs:element name="clave" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>